body
{
	background: rgb(14, 228, 25);
}

	.login_div1 , .login_div2
	{
		background: rgba(23, 142, 253, 0.918);
		padding: 10px;
		float: none;
		border-radius: 15px;
	}


#player1_name , #player2_name
{
	display: inline-block;
	margin-left: 20px;
}
#word
{
	width: 60%;
}
#word_display
{
	letter-spacing: 5px;
}
#output
{
background: rgba(255, 9, 9, 0.678);
border-radius: 10px;
border-top: 10px solid #ffee00;
padding: 10px;
float: none;
text-align: left;
}
